@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="shopping_cart">
    <div id="articles_list" class="container-fluid" data-bind="foreach: Products">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="thumbnail class-parent">
                <div class="caption class-clild-1">
                    <h3 data-bind="text: Name"></h3>
                    <p class="card-text class-sub-child-2" data-bind="text: Description"></p>
                    <p class="card-text class-sub-child-1" data-bind="text: Price"></p>
                    <p data-bind="visible: $root.Authenticated">
                        <button class="btn btn-primary" role="button" data-bind="click: $root.AddProductToCart">Add item</button>
                    </p>
                </div>
            </div>
        </div>
        <!-- ko if:  AddClearFix -->
        <div class="clearfix"></div>
        <!-- /ko -->
    </div>

    @if (Request.IsAuthenticated)
    {
        @Html.Partial("~/Views/Order/_OrdersModal.cshtml")
    }
</div>
@Scripts.Render("~/bundles/shoppingCart/js")
<script>
    $(document).ready(function () {
        Shop.GetProductListUrl = '@Url.Action("GetAllArticles", "Article")';
        Shop.GetShoppingCartUrl = '@Url.Action("GetOrders", "Order")';
        Shop.AddProductToCartUrl = '@Url.Action("Order", "Order")';
        Shop.SaveShoppingCartUrl = '@Url.Action("SaveOrders", "Order")';
        Shop.Init(@Request.IsAuthenticated.ToString().ToLower());
    });
</script>
